@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.service-detail-container {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    opacity: 0;
    animation: fadeInUp 0.5s ease forwards;
}

.service-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

.media-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto); /* Har doim 3 ta ustun */
    justify-content: center; /* Markazdan joylashtirish */
    justify-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.no-service-video,
.no-service-image{
    text-align: center;
}

.media-image,
.media-video {
    border-radius: 12px;
    object-fit: cover;
    height: 300px; /* Siz bergan qiymat qoldi */
}


.media-image {
    height: 300px;
}

.media-video {
    height: 300px;
}

.service-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

/* Responsive for small screens */
@media (max-width: 1080px) {
    .media-wrapper {
        display: flex;
        flex-direction: column;
    }

    .no-service-video,
    .no-service-image{
        text-align: center;
        font-size: 3.5rem;
    }

    .media-image,
    .media-video {
        width: 100%;
        height: 100%;
    }

    .service-title {
        font-size: 3.5rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .service-description {
        font-size: 2rem;
        color: #555;
        line-height: 1.6;
    }

}
