/*  Footer */
.site-footer {
    margin-top: 3rem;
    padding: 2rem 1rem;
    background-color: #f9f9f9;
    text-align: center;
    font-size: 0.95rem;
    color: #444;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeInUp 0.5s ease forwards;
}

.footer-logo img {
    max-width: 100px;
    margin: 0 auto 1rem auto;
    display: block;
}

.footer-contacts a {
    display: inline;
    color: #333;
    text-decoration: none;
    margin-bottom: 0.25rem;
}

.footer-contacts a:hover {
    text-decoration: underline;
}


.footer-copy {
    margin-top: 1.5rem;
    font-size: 0.85rem;
    color: #777;
}

.footer-copy a {
    color: #007bff;
    text-decoration: none;
}

.footer-copy a:hover {
    text-decoration: underline;
}


/* 📱 Responsivlik */
@media (max-width: 1080px) {
    /* Footer */
    .footer-logo img {
        max-width: 300px;
        margin: 0 auto 1rem auto;
        display: block;
    }
    /* Footer */
    .footer-logo img {
        max-width: 300px;
        margin: 0 auto 1rem auto;
        display: block;
    }

    .footer-contacts a {
        display: inline;
        color: #333;
        text-decoration: none;
        margin-right: 0.3rem;
        font-size: 2.7rem;
    }
}

@media (max-width: 480px) {

}
